<!DOCTYPE html>
<html>
  <head>
    <title>Clinical Support Decision - Charmander | Home</title>
    <% include ./partials/head %>
  </head>
  <body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
      <div class="lockscreen-logo">
        <a href="/"><b>CSD</b>Charmander</a>
      </div>
      
      <div class="help-block text-center">
		<a href="/patientupdate">Pulling Patients</a> - pull data from FHIR and update MongoDB <br>
        <a href="/patientlist" target="_blank">Patient List</a> - List of patients that you are caring <br>
		<a href="/patientdetail/1/observation" target="_blank">Patient Observation</a> - Details of selected patient<br>
		<a href="/patientdetail/1/condition" target="_blank">Patient Condition</a> - Details of selected patient<br>
		<a href="/patientdetail/1/prescription" target="_blank">Patient Prescription</a> - Details of selected patient<br>
		<a href="/patientdetail/1/dispense" target="_blank">Patient Dispense</a> - Details of selected patient<br>
		<a href="/user/signin" target="_blank">Login</a> - Login Screen<br>
		<a href="/user/signup" target="_blank">Register</a> - Register a new user<br>
		<a href="/user/lock" target="_blank">Lock Screen</a> - Session is timed out<br>
      </div>
      <div class="lockscreen-footer text-center">
        Copyright &copy; 2015 <b><a href="#" class="text-black">GT CS6440 Charmander</a></b><br>
        All rights reserved
      </div>
    </div><!-- /.center -->
	
	<!-- page script -->
    <script>
	  if ('ok' == '<%=result %>') {
		  alert('<%=data %>');
	  }
    </script>  
	<% include ./partials/bottom %>	
  </body>
</html>
