<!DOCTYPE html>
<html>
  <head>
    <title>Clinical Support Decision - Charmander | <%=title %></title>
    <% include ./partials/head %>
  </head>
  <body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
      <div class="lockscreen-logo">
        <a href="/"><b>CSD</b>Charmander</a>
      </div>
      <!-- User name -->
      <div class="lockscreen-name"><%=username %></div>

      <!-- START LOCK SCREEN ITEM -->
      <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
          <img id="profile_image" src="/static/img/avatar/<%=userid %>.jpg" alt="User Image" onerror="this.src='/static/img/avatar/default.jpg'">
        </div>
        <!-- /.lockscreen-image -->

        <!-- lockscreen credentials (contains the form) -->
		<form action="/user/signin" method="post" class="lockscreen-credentials">
          <div class="input-group">
			<input type="hidden" name="username" value="<%=userid %>">
            <input type="password" class="form-control" placeholder="password" name="password">
            <div class="input-group-btn">
              <button class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
          </div>
        </form><!-- /.lockscreen credentials -->

      </div><!-- /.lockscreen-item -->
      <div class="help-block text-center">
        Enter your password to retrieve your session
      </div>
      <div class="text-center">
        <a href="/user/signin">Or sign in as a different user</a>
      </div>
      <div class="lockscreen-footer text-center">
        Copyright &copy; 2015 <b><a href="#" class="text-black">GT CS6440 Charmander</a></b><br>
        All rights reserved
      </div>
    </div><!-- /.center -->

    <!-- jQuery 2.1.4 -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<% include ./partials/bottom %>	
  </body>
</html>
