<!DOCTYPE html>
<html>
  <head>
    <title>Clinical Support Decision - Charmander | <%=title %></title>
    <% include ./partials/head %>	
  </head>
  
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <% include ./partials/header %>
      <% include ./partials/side %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <%=title %>
            <small>List of patients that you are caring</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><%=title %></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
		  <div class="box">
                
                <div class="box-body">
                  <table id="patients" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>On Watch</th>
                      </tr>
                    </thead>
                    <tbody id="patient_data">
                    <!-- Loading (remove the following to stop the loading)-->
                	<div id="loading" class="overlay">
                  		<i class="fa fa-refresh fa-spin"></i>
                	</div>
                	<!-- end loading -->
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Address</th>
                        <th>On Watch</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <% include ./partials/footer %>
      
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- FHIR client -->
    <!--script src="../fhir/fhir-client.min.js"></script-->

    <!-- jQuery 2.1.4 -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/static/js/bootstrap.min.js"></script>
	<!-- DataTables -->
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
	<!-- SlimScroll -->
    <script src="/static/js/jquery.slimscroll.min.js"></script>
	<!-- iCheck 1.0.1 -->
    <script src="/static/js/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="/static/js/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/js/app.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
	  
	<!-- page script -->
    <script>
	  // update the onWatch status of Patient
	  $.updatePatientOnWatchStatus = function(event, o){
		//alert(event.type + ' callback ' + o.value);
		  
		var rUrl = '/patient/' + o.value +'/' + event.type;
		
		$.ajax({
			type: 'GET',
			contentType: 'application/json; charset=utf-8',
			dataType: 'text',
			url: rUrl
		})
		.done(function(data, status){
			console.log(data);
			
			if (event.type == 'ifChecked')
				$('#onWatch' + o.value).html('checked');
			else
				$('#onWatch' + o.value).html('');
			
		})
		.fail(function(){
			alert("Ajax failed to fetch data");
		});
	  }
	  	  
	  // extract patient general information
	  $.displayPatients = function(){
		  var rUrl = "/patients";

		  console.info(rUrl);

		  $.ajax({
			type: 'GET',
			contentType: 'application/json; charset=utf-8',
			dataType: 'JSON',
			url: rUrl
		  })
		  .done(function(data, status){
			  
				var ret = data;
		 		var lines = "";

				console.log(ret);

				/* Create a patient list */
				for ( var i = 0; i < ret.length; i++) {
					var obj = ret[i];

					lines = lines + "<tr>";

					var idx = obj.id;
					var fName = "";
					var lName = "";
					var address = "";
					var onWatch = "";
					
					try {
						fName = obj.name[0].given[0];
						lName = obj.name[0].family[0];
						address = obj.address;
						onWatch = obj.onWatch || '';
					} catch(e) {
						console.log('id=' + idx + ', no objects');
					}
					
					lines = lines + "<td><a href='patientdetail/" + idx + "/observation'>" + idx + "</a></td>";
					lines = lines + "<td>" + lName + "</td>";
					lines = lines + "<td>" + fName + "</td>";
					lines = lines + "<td>" + address + "</td>";
					lines = lines + "<td><input type='checkbox' value='" + idx + 
						"' " + onWatch + 
						" class='flat-green' style='position: absolute; opacity: 0;'>" + 
						"<span style='display:none' id='onWatch" + idx + "'>" + onWatch + "</span></td>";

					lines = lines + "</tr>";

				};

				$('#loading').hide();

				  //console.log(lines);
				$('#patient_data').append(lines);

				//iCheck for checkbox and radio inputs
				$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
				  checkboxClass: 'icheckbox_minimal-blue',
				  radioClass: 'iradio_minimal-blue'
				});
				//Flat red color scheme for iCheck
				$('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
				  checkboxClass: 'icheckbox_flat-green',
				  radioClass: 'iradio_flat-green'
				});
			  
			    //callback if checked for iCheck
				$('input[type="checkbox"].flat-green, input[type="radio"].flat-green').on('ifChecked', function(event){
				  $.updatePatientOnWatchStatus(event, this);
				});
			  	//callback if unchecked for iCheck
				$('input[type="checkbox"].flat-green, input[type="radio"].flat-green').on('ifUnchecked', function(event){
				  $.updatePatientOnWatchStatus(event, this);
				});
			  
                $('#patients').DataTable({
					"order": [[ 4, "desc" ],[ 0, "asc" ]]
				});

		  })
		  .fail(function(){
			alert("Ajax failed to fetch data");
		});
	  }
	  
      $(function () {
        
		$.displayPatients();
		
      });

	  var sessionTimeRemaining = <%=sessionTimeOutDuration %>;
    </script>    
	<% include ./partials/bottom %>		
  </body>
</html>
